div{
    border: solid, black, 2px;
        color: white;
}
.input{
    width: fit-content;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
}
#SquareInput{
    display:none;
}
#sqrTransform{
    display:none;
}
#SqrResult{
    display:none;
}
.frame{
    display: flex;;
    width:100%;
    min-width:fit-content;
    display: relative;
    height: fit-content;
      background-color: black;
      justify-content: center;

}
#map{
  display: flex;
  width: 673px;
  position: relative;
  height: 600px;
  background-color: rgb(255, 255, 255);
  background-image: url(YVtxQ.png);
  background-repeat: no-repeat;
  background-position: center;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 180px;
    width: 100%;
    border: solid,rgb(255, 255, 255),2px;
    background-color: rgb(0, 0, 0);
}
.subinfo{
     display: flex;
    height: 100%;
    width: 200px;
    border: solid,rgb(255, 255, 255),2px;
    color:white;
    flex-direction: column;
    contain: strict;
}
.displays{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;
}
.location_displays{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.option_displays{
   display:flex; 
    flex-direction: column;
}
.option_displays button{
    height: 100%;
}
#loc{
    display:inline;
}
p{
    margin:0px;
    display:flex;
    height: fit-content;
    min-width:50px;
}
h2{
    margin:0px;
    display:flex;
    height: fit-content;
}
button{
    color: black;
    background-color:white;
    min-width:40px;
    box-shadow: 0px 2px rgb(191, 191, 191);
}
button:hover{
      background-color:rgb(201, 201, 201);
}
button:active{
   transform: translateY(2px);
   background-color:rgb(201, 201, 201);
   box-shadow: 0px 0px rgb(191, 191, 191);
}
input{
    background-color: black;
    color:white;
    display: flex;
    width:50px;
}
#movebox{
    width:2px;
    height:20px;
    background-color: red;
    position: absolute;
    z-index:2;
    bottom: 314px;
    left: 335px;
    transform: (skewX(0deg));
  
}
.matrix{
    border: solid,rgb(255, 255, 255),2px;
    width: fit-content;
    height:100%;
    align-self: center;
}
.matrix > tbody{
    width: fit-content;
    height:100%;
    display: flex;
}
.matrix > tbody > tr{
    width: fit-content;
    height:100%;
    display:flex;
    flex-direction: column
}
.matrix > tbody> tr> td{
    color:white;
    border: solid,rgb(255, 255, 255),2px;
    min-width:40px;
    max-width:fit-content;
    height:100%;
    display:flex;
    position: relative;
}

.matrixbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    padding:0px;
    margin:0px;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

.t_button{
    align-content: center;
}
